<h1> Users </h1>
<table>
	<tr>
		<th> username </th>
		<th> email</th>
		<th> motto </th>
    <th> Delete </th>
	</tr>
    <% for(var i=0; i<users.length; i++) { %>
        <tr>
           <td> 
           	<a href='view/<%= users[i].id %>'> <%= users[i].username %> </a>
           </td>
           <td> 
           	<%= users[i].email %>
           </td>
           <td> 
           	<%= users[i].motto %>
           </td>
           <td> 
           	<form action="/user/delete" method='post'>
           		<input type="submit" class="table_submit" value='delete'>
           		<input type='hidden'  name='id' value=<%= users[i].id %>>
           	</form>
           </td>
        </tr>
    <% } %>
</table>