
<div class = "myProfileForm">
	<h1>My profile</h1>
	<form id="form" class="form" action="/user/update" method="post">
		<input type='hidden' name='_csrf' value='<%= _csrf %>'>
		<input type="hidden" name="id" value="<%= user.id %>">

		<div class = "form-group">
			<label for="email" >Email</label>
			<input class="form-control" id="email" type="text" name="email" placeholder="Email" value="<%= user.email %>" autofocus>
		</div>

		<div class = "form-group">
			<label for = "motto" >Motto</label>
			<input class="form-control" id="motto" type="text" name="motto" placeholder="Motto" value="<%= user.motto %>">
		</div>

		<div>
			<input class="btn btn-lg btn-success" type='submit' value="Save">
		</div>

	</form>
</div>

<div class="myProfileAvatarImage">

	<h1>Add image</h1>
	<div class='avatarhImageForm'>	
		<form action="/user/uploadAvatarImage" enctype="multipart/form-data" method="post">
			<input type='hidden', name='id' value=<%= user.id %>>
			<input type='hidden' name='_csrf' value='<%= _csrf %>'>
			<div class="form_row">
	    		<input type="file" name="avatar" multiple="multiple" accept="image/*">
			</div>

			<div class="form_row">
	    		<input type="submit" value="Upload">
			</div>
		</form>
	</div>
	<% if(user.avatarImageUrl) { %>
	<div class= "avatarImage">
	   <img src="/images/avatarImages/<%= user.avatarImageUrl %>" alt="Image has disappeared. Maybe because restart of the server. Problem will be fixed." IMG HEIGHT=250>
	</div>
	<% } %>
</div>