<h1>Lures</h1>
<table class="table table-striped">
	<tr>
		<th> Model </th>
		<th> Brand </th>
    <th> Url </th>
    <th> Delete </th>
    <th> Edit </th>
  </tr>
  <% for(var i=0; i<lures.length; i++) { %>
  <tr>
   <td> 
    <%= lures[i].model %>
  </td>
  <td> 
    <%= lures[i].brand %>
  </td>
  <td> 
    <% if(lures[i].url){ %> 
    <a href="<%= lures[i].url %>"><%= lures[i].url.substr(0, 30) %> 
      <%}%> </a>
    </td>
    <td> 
      <form action="/lure/delete" method='post'>
       <input type='hidden' name='_csrf' value='<%= _csrf %>'>
       <input type="submit" class="table_submit" value='delete'>
       <input type='hidden', name='id' value=<%= lures[i].id %>>
     </form>
   </td> 
   <td> 
    <form action="/lure/view/<%= lures[i].id %>" method='post'>
      <input type='hidden' name='_csrf' value='<%= _csrf %>'>
      <input type="submit" class="table_submit" value='Edit'>
    </form>
  </td>
</tr>
<% } %>
</table>

<!-- Form for new lures -->
  
<form id="form" class="form" action="/lure/processCreate" method="post">
  <h2>Add a new lure </h2>
  <input type='hidden' name='_csrf' value='<%= _csrf %>'>
  <div class = "form-group">
    <label for="brand" >Brand</label>
    <input class="form-control" id="brand" type="text" name="brand" placeholder="Brand" autofocus>
  </div>
  <div class = "form-group">
    <label for="model" >Model</label>
    <input class="form-control" id="model" type="text" name="model" placeholder="Model" >
  </div>
  <div class = "form-group">
    <label for="url" >Url</label>
    <input class="form-control" id="url" type="text" name="url" placeholder="Url" >
  </div>
  <div class = "form- group">
    <input class="btn btn-lg btn-success" type='submit' value="Add">
  </div>
</form>

