<table>
	<tr>
		<th> Model </th>
		<th> Brand </th>
    <th> Url </th>
    <th> Actions </th>
	</tr>
    <% for(var i=0; i<lures.length; i++) { %>
        <tr>
           <td> 
            <%= lures[i].model %>
           </td>
           <td> 
           	<%= lures[i].brand %>
           </td>
           <td> 
            <a href="<%= lures[i].url %>"><%= lures[i].url.substr(0, 30) %></a>
           </td>
           <td> 
           	<form action="/lure/delete" method='post'>
           		<input type="submit" value='delete'>
           		<input type='hidden', name='id' value=<%= lures[i].id %>>
           	</form>
            </td> 
            <td> 
            <form action="/lure/view/<%= lures[i].id %>" method='post'>
              <input type="submit" value='Edit'>
            </form>
           </td>
        </tr>
    <% } %>
</table>
<a href="/lure/create"> Add new lure </a>