

<h1>Add new catch</h1>


<% if (req.session.flash &&req.session.flash.err) {%>
	<div id = "sessionFlash"> 
		<%= req.flash('err') %>
	</div>
<% } %>

<form id="form" class="form" action="/catch/processCreate" method="post">
	<input type='hidden' name='_csrf' value='<%= _csrf %>'>
	<div class = "form-group">
		<label for="weight" >Weight</label>
		<input class="form-control" id="weight" type="text" name="weight" placeholder="Weight">
	</div>

	
	<!-- Lure dropdown list -->
	<div class = "form-group">
		<label for="lure" >Lure (<a href="/lure/create">Add more</a>) <br></label>
		<select class="form-control" id="lure" name="lureId">
			<option value="">--Not selected--</option>
			<% for(var i = 0; i < lures.length; i++) { %>
			<option value="<%- lures[i].id %>">
				<%- lures[i].brand %> <%- lures[i].model %>
			</option>
			<% } %>
		</select> 
	</div>

	<!-- Fish dropdown list -->
	<div class = "form-group">
		<label for="fish" >Fish <br></label>
		<select class="form-control" id="fish" name="fishId">
			<option value="">--Not selected--</option>
			<% for(var i = 0; i < fishes.length; i++) { %>
			<option value="<%- fishes[i].id %>">
				<%- fishes[i].name %>
			</option>
			<% } %>
		</select> 
	</div>

	<!-- IsPublic checkbox -->
	<div class = "form-group">
		<label for="isPublic">Is this catch public to other users?</label>
		<input type="checkbox" id="isPublic" name="isPublic" value='true'>
	</div>

	<div class = "form-group">
		<input class="btn btn-lg btn-success" type='submit' value="Add">
	</div>

</form>

