<script src="/js/confirm.js"></script>
<h1>Catches</h1>
<!--
<table>
	<tr>
    <th> Fish </th>
    <th> Weight </th>
    <th> Date </th>
    <th> Delete </th>
    <th> Edit </th>
  </tr>
  <% for(var i=0; i<catches.length; i++) { %>
  <tr>
    <td> 
      <% if(catches[i].fish) { %> 
        <%= catches[i].fish.name %>
      <% } %>
    </td>
    <td> 
      <%= catches[i].weight %>
    </td>
    <td> 
      <%= catches[i].formatDate() %>
    </td>
    <td> 
      <form action="/catch/delete" method='post' >
       <input type="submit" class="table_submit" value='delete' id="delete">
       <input type='hidden', name='id' value=<%= catches[i].id %>>
     </form>
   </td>
 </td>
 <td> 
  <form action="/catch/view/<%= catches[i].id %>" method='post'>
    <input type="submit" class="table_submit" value='View'>
  </form>
</td>
</tr>
<% } %>
</table>

-->

<a href="/catch/create">Add new Catch </a>
<script type="text/javascript">
$(document).ready(function() {
    $("#dialog").dialog({
        modal: true,
        bgiframe: true,
        width: 500,
        height: 200,
        autoOpen: false
    });


    $("#delete").click(function(e) {

        e.preventDefault();
        var theHREF = $(this).attr("href");

        $("dialog").dialog('option', 'buttons', {
            "Confirm" : function() {
                window.location.href = theHREF;
            },
            "Cancel" : function() {
                $(this).dialog("close");
            }
        });

        $("#dialog").dialog("open");

    });

});
</script>

  <% for(var i=0; i<catches.length; i++) { %>
    <div class = "catchInIndex"> 
        <div class = "fishInIndex">
                <a href="/catch/view/<%= catches[i].id %>"> 
                  <%if(catches[i].fish) { %>
                    <%= catches[i].fish.name %> 
                  <% } else { %> 
                    Unknown fish
                  <% } %>
                  <%if(catches[i].weight) { %>
                    <%= catches[i].weight %> kg
                  <% } %> 
                </a>
            
        </div>
        <ul>
          <li><%= catches[i].date %></li>

          <%if(catches[i].lure) { %>
            <li>
              <%= catches[i].lure.brand + " "  + catches[i].lure.model %>
            </li>
          <% } %>

        </ul>
    </div>
<% } %>