<script src="/js/confirm.js"></script>
<h1><%=user.username%>'s public catches</h1>

<script type="text/javascript">
$(document).ready(function() {
    $("#dialog").dialog({
        modal: true,
        bgiframe: true,
        width: 500,
        height: 200,
        autoOpen: false
    });


    $("#delete").click(function(e) {

        e.preventDefault();
        var theHREF = $(this).attr("href");

        $("dialog").dialog('option', 'buttons', {
            "Confirm" : function() {
                window.location.href = theHREF;
            },
            "Cancel" : function() {
                $(this).dialog("close");
            }
        });

        $("#dialog").dialog("open");

    });

});
</script> 

  <% for(var i=0; i<catches.length; i++) { %>

    <a href="/catch/viewPublic/<%= catches[i].id %>"> 
      <div class = "catchInIndex"> 

        <div class = "fishInIndex">
        <ul>
          <li> 
            <h3>
              <%if(catches[i].fish) { %>
                <%= catches[i].fish.name %> 
              <% } else { %> 
              Unknown fish
              <% } %> 
              <%if(catches[i].weight) { %>
                <%= catches[i].weight %> kg
              <% } %> 
            </h3>
          </li>
          <li><%= catches[i].formatDate() %></li>
          <%if(catches[i].lure) { %>
          <li>
          <%= catches[i].lure.brand + " "  + catches[i].lure.model %>
          </li>
          <% } %>
        </ul>
        </div>


        <%if(catches[i].imageUrl) { %>
        <div class='catchImageInIndex'>
          <img src="/images/avatarImages/<%= catches[i].imageUrl %>" alt="Img" IMG HEIGHT=50>
        </div>
        <% } %>
      </div>
    </a>
<% } %>