<script src="/js/maps/oneCatch.js"></script>

<% if (req.session.flash &&req.session.flash.err) {%>
	<div id = "sessionFlash"> 
		<%= req.flash('err') %>
	</div>
<% } %>


<div id="CatchForm">

	<h1> <% if(catch1.fish) { %> <%= catch1.fish.name %> <% } %> </h1> 
	
	<h2> <% if(likes) { %> <%=likes.length %> <% } else { %> 0 <% } %> users like this catch.
	<form action="/catch/update/<%=catch1.id%>" class="form" method = 'POST'>

		<!-- IsPublic checkbox -->
		<div class = "form_row">
			<label class = "form_label" >Is this catch public to other users?</label>
			<input type="checkbox" name="isPublic"  value='true'
			<%if(catch1.isPublic){ %>
				checked
			<% } %>
		</div>

		<!-- Weight -->
		<div class = "form_row">
			<label class = "form_label" >Weight</label>
			<input class="form_input" type="text" name="weight" value="<%= catch1.weight %>" placeholder="Weight">
		</div>

		<!-- Date -->
		<div class = "form_row">
			<label class = "form_label" >Date</label>
			<input class="form_input" type="date" value="<%= date %>" name="date" placeholder="Date" >
		</div>

		<!-- latitude & longitude -->
		<input type="hidden" name="coordLatitude" id="coordLatitude" 
			<% if(catch1.coordLatitude) {%>
				value="<%= catch1.coordLatitude %>"
			<%}else {%>
				placeholder="Coodrdinate latitude"
		<%}%>> <br>

		<input type="hidden" name="coordLongitude" id="coordLongitude" 
			<% if(catch1.coordLongitude) {%>
				value="<%= catch1.coordLongitude %>"
			<%}else {%>
				placeholder="Coodrdinate Longitude"
			<%}%>> <br>

		<!-- end latitude & longitude -->

		
		<!-- Lure dropdown list -->
		<div class = "form_row">
			<label class = "form_label" >Lure (<a href="/lure/create">Add more</a>) <br></label>
			<select class="form_select" name="lureId">
				<option value="">--Not selected--</option>
				<% for(var i = 0; i < lures.length; i++) { %>
					<option value="<%- lures[i].id %>" 
						<% if(catch1.lure){
							if(catch1.lure.id==lures[i].id){
								%> selected="selected"<% 
							} 
						}%>>
						<%- lures[i].brand %> <%- lures[i].model %>
					</option>
				<% } %>
			</select> 
		</div>

		<!-- Fish dropdown list -->
		<div class = "form_row">
			<label class = "form_label" >Fish <br></label>
			<select class="form_select" name="fishId">
				<option value="">--Not selected--</option>
				<% for(var i = 0; i < fishes.length; i++) { %>
					<option value="<%- fishes[i].id %>" 
						<% if(catch1.fish){
							if(catch1.fish.id==fishes[i].id){
								%> selected="selected"<% 
							} 
						}%>>
						<%- fishes[i].name %>
					</option>
				<% } %>
			</select> 
		</div>

		<!-- Lake dropdown list -->
		<div class = "form_row">
			<label class = "form_label" >Lake <br></label>
			<select class="form_select" name="lakeId">
				<option value="">--Not selected--</option>
				<% for(var i = 0; i < lakes.length; i++) { %>
					<option value="<%- lakes[i].id %>" 
						<% if(catch1.lake){
							if(catch1.lake.id==lakes[i].id){
								%> selected="selected"<% 
							} 
						}%>>
						<%- lakes[i].name %>
					</option>
				<% } %>
			</select> 
		</div>

		<div class = "form_row">
			<input class="form_submit" type='submit' value="Save changes">
		</div>
	</form>
</div>


<div id = "lakeForm">

</div>

<div id="fishForm">
	
</div>

<div id ="mapForm">
	<% if(catch1.coordLongitude && catch1.coordLatitude) { %>
		<div id="mapCanvas" style="width:400px;height:400px;"></div>
	<% } %>
</div>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript">
    var loadMap = function() 
    {
        var myOptions = {
          center: { lat: <%- catch1.coordLatitude %>, lng: <%- catch1.coordLongitude %>},
          zoom: 4,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("mapCanvas"),
            myOptions);
        var myLatLng = new google.maps.LatLng(
        	<%- catch1.coordLatitude %>,
          	<%- catch1.coordLongitude %>);
        var marker = new google.maps.Marker({
	    	position: myLatLng,
	    	map: map,
	    	draggable:true,
	    	title:"Catch"
		});

		google.maps.event.addListener(marker, 'dragend', function() 
		{
		    var latitudeField = document.getElementById("coordLatitude");
			latitudeField.value = marker.getPosition().lat();
			var longitudeField = document.getElementById("coordLongitude");
			longitudeField.value = marker.getPosition().lng();
			document.getElementById("submitCatch").click();
		});
    };
    window.onload= loadMap;
</script>

<div id='catchImage'>
	<h1>Add image</h1>
	<div class='catchImageForm'>	
		<form action="/catch/uploadImage" enctype="multipart/form-data" method="post">
			<input type='hidden', name='id' value=<%= catch1.id %>>

			<div class="form_row">
	    		<input type="file" name="avatar" multiple="multiple" accept="image/*">
			</div>

			<div class="form_row">
	    		<input type="submit" value="Upload">
			</div>
		</form>
	</div>
	<% if(catch1.imageUrl) { %>
	<div>
	   <img src="/images/avatarImages/<%= catch1.imageUrl %>" alt="Mountain View" IMG HEIGHT=250 WIDTH=250>
	</div>
	<% } %>
</div>
